<div class="router-child">
    <div class="main">
        <div class="name">
            <app-input [group]="form" controlName="robot_name"></app-input>
            <button [disabled]="!isChanged || !isFormGroupValid || isLoading" class="submit-button"><i class="las la-save"></i></button>
        </div>
        <div class="grid">
            <div class="grid-categories">
                <p>KATEGORIE</p>
            </div>
            <div class="grid-constructors">
                <p>KONSTRUKTORZY</p>
            </div>
        </div>
    </div>
</div>