@import '../../scss/colors';
@import '../../scss/variables';
.header {
    height: 9rem;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-3;
    box-shadow: 0 .5rem 2rem rgba($color-grey-5, 0.5);
    margin-bottom: 1rem;
    &-logo {
        cursor: pointer;
        height: 100%;
        padding: 1rem;
        position: absolute;
        left: 1rem;
        // top: 1%;
        font-family: $title-font;
        color: $color-primary;
        span {
            color: $color-white;
            margin-left: 1rem;
        }
        img {
            height: 1.5rem;
            margin-left: 4rem;
        }
    }
    &-name {
        font-size: 3rem;
        font-family: $title-font;
    }
}