<div class="navigator">
    <label *ngIf="userName === null"> </label>
    <div class="navigator-user" *ngIf="userName !== null">
        <label>{{'menu.hello' | translate}} <span>{{userName}}!</span></label>
        <button (click)="onLogout()">{{'menu.logout' | translate}}</button>
    </div>
    <div class="navigator-links">
        <a [routerLink]="['/']" fragment="home" (click)="switchMenu(false)">{{'menu.home' | translate}}</a>
        <a [routerLink]="['/']" fragment="programme" (click)="switchMenu(false)">{{'menu.program' | translate}}</a>
        <a [routerLink]="['/']" fragment="competitions" (click)="switchMenu(false)">{{'menu.competitions' | translate}}</a>
        <a [routerLink]="['/']" fragment="location" (click)="switchMenu(false)">{{'menu.location' | translate}}</a>
        <a [routerLink]="['/']" fragment="patreons" (click)="switchMenu(false)">{{'menu.patreons' | translate}}</a>
        <!-- <a [routerLink]="['/results']" (click)="switchMenu(false)">{{'menu.results' | translate}}</a> -->
        <!-- <a [routerLink]="['/timetable']" (click)="switchMenu(false)">{{'menu.timetable' | translate}}</a> -->
        <!-- <a [routerLink]="['/building-plan']" (click)="switchMenu(false)">{{'menu.plan' | translate}}</a> -->
        <a [routerLink]="['/login']" class="navigator-competitor-zone" (click)="switchMenu(false)">{{'menu.competitor-zone' | translate}}</a>
    </div>
    <img (click)="switchLang()" [src]="!isEnglish ? '../assets/svg/gb.svg' : '../assets/svg/pl.svg'">
</div>
<button class="navigator-menu" (click)="switchMenu()">
  <div class="navigator-menu-burger navigator-menu-burger-top"></div>
  <div class="navigator-menu-burger navigator-menu-burger-middle"></div>
  <div class="navigator-menu-burger navigator-menu-burger-bottom"></div>
</button>
<div class="navigator-outlet">
    <router-outlet></router-outlet>
</div>