<div class="navigator">
    <a [routerLink]="['/competitor-zone']" class="navigator-competitor-zone">COMPETITOR ZONE</a>
    <a [routerLink]="['/']" fragment="home">HOME</a>
    <a [routerLink]="['/']" fragment="programme">PROGRAMME</a>
    <a [routerLink]="['/']" fragment="competitions">COMPETITIONS</a>
    <a [routerLink]="['/']" fragment="location">LOCATION</a>
    <a [routerLink]="['/']" fragment="patreons">PATREONS</a>
    <a [routerLink]="['/results']">RESULTS</a>
    <a [routerLink]="['/timetable']">TIMETABLE</a>
    <a [routerLink]="['/building-plan']">BUILDING PLAN</a>
</div>
<button class="navigator-menu" (click)="switchMenu()">
  <div class="navigator-menu-burger navigator-menu-burger-top"></div>
  <div class="navigator-menu-burger navigator-menu-burger-middle"></div>
  <div class="navigator-menu-burger navigator-menu-burger-bottom"></div>
</button>
<div class="navigator-outlet">
    <router-outlet></router-outlet>
</div>
