<div class="navigator">
    <a [routerLink]="['/']" fragment="home">{{'menu.home' | translate}}</a>
    <a [routerLink]="['/']" fragment="programme">{{'menu.program' | translate}}</a>
    <a [routerLink]="['/']" fragment="competitions">{{'menu.competitions' | translate}}</a>
    <a [routerLink]="['/']" fragment="location">{{'menu.location' | translate}}</a>
    <a [routerLink]="['/']" fragment="patreons">{{'menu.patreons' | translate}}</a>
    <a [routerLink]="['/results']">{{'menu.results' | translate}}</a>
    <a [routerLink]="['/timetable']">{{'menu.timetable' | translate}}</a>
    <a [routerLink]="['/building-plan']">{{'menu.plan' | translate}}</a>
    <a [routerLink]="['/competitor-zone']" class="navigator-competitor-zone">{{'menu.competitor-zone' | translate}}</a>
    <img (click)="switchLang()" [src]="!isEnglish ? '../assets/svg/gb.svg' : '../assets/svg/pl.svg'">
</div>
<button class="navigator-menu" (click)="switchMenu()">
  <div class="navigator-menu-burger navigator-menu-burger-top"></div>
  <div class="navigator-menu-burger navigator-menu-burger-middle"></div>
  <div class="navigator-menu-burger navigator-menu-burger-bottom"></div>
</button>
<div class="navigator-outlet">
    <router-outlet></router-outlet>
</div>