@import '../scss/variables';
@import '../scss/colors';
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.paralax {
    position: relative;
    width: 100%;
    height: 60vh;
    // background-color: green;
    &-name {
        color: $color-primary;
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        line-height: 4rem;
        font-family: $title-font;
        &-second {
            margin-left: 2rem;
            color: $color-white;
        }
        &-container {
            position: absolute;
            z-index: 2;
            margin: 4rem;
            min-width: 30rem;
            height: min-content;
            width: min-content;
        }
        &-img {
            width: 5rem;
            margin-top: 1rem;
            margin-left: 7.5rem;
        }
    }
    &-wave {
        width: 110%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        height: 100%;
        &-yellow {
            transform: translateX(-8rem);
            background: radial-gradient(ellipse farthest-side at 30% 20%, rgba(63, 94, 251, 0) 96%, rgba($color-primary, 0.8) 100%);
        }
        background: radial-gradient(ellipse farthest-side at 30% 10%, rgba(63, 94, 251, 0) 99%, $color-grey-3 100%);
    }
}

.event-info {
    background-color: $color-grey-3;
    // background: linear-gradient(180deg,rgba($color-grey-3, 1) 95%, rgba($color-grey-5, 0.88) 99%, rgba($color-grey-5, 1) 100%);
    width: 100%;
    padding: 9rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        color: rgba($color-white, 0.6);
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .5rem;
        z-index: 4;
        margin-bottom: 2rem;
    }
    &-counter {
        text-align: center;
        width: min-content;
        min-width: 80rem;
        height: 15rem;
        display: grid;
        grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
        grid-template-rows: auto;
        background: $color-grey-3;
        box-shadow: -2rem 2rem 4rem $color-grey-2, 2rem -2rem 5rem $color-grey-4, inset 1rem -1rem 2rem $color-grey-4, inset -1rem 1rem 2rem $color-grey-2;
        border-radius: 4rem;
        padding: 2rem;
        &-part {
            min-width: 10rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            &--number {
                padding-left: 1rem;
                font-size: 5rem;
                line-height: 5rem;
                font-family: $title-font;
                letter-spacing: 1rem;
            }
            &--name {
                font-size: 3rem;
                line-height: 3rem;
                color: $color-primary;
                text-transform: uppercase;
            }
        }
        &-delimeter {
            padding-top: .7rem;
            color: $color-primary;
            padding-left: 0 !important;
        }
    }
    &-details {
        margin-top: 8rem;
        display: grid;
        width: 60%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        &-name {
            text-align: right;
            padding: 0 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            border-right: 4px dotted #484848;
            &-a {
                margin: 0;
            }
            &-date {
                font-weight: 100 !important;
                padding-top: 1rem;
                font-family: $default-font;
                line-height: 2.5rem !important;
                font-size: 2.5rem !important;
                letter-spacing: normal !important;
                text-transform: none !important;
                &-big {
                    font-weight: 400 !important;
                    line-height: 3rem;
                    font-size: 3rem;
                }
            }
        }
        &-description {
            font-weight: 400;
            padding: 0 3rem;
            font-size: 2rem;
        }
    }
}

.event-program {
    width: 100%;
    height: min-content;
    padding: 5rem 0;
    background-color: $color-grey-3;
    &-grid {
        overflow: hidden;
        background-color: $color-grey-5;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50rem 1fr;
        grid-template-rows: min-content;
        box-shadow: 0 -1rem 5rem rgba($color-grey-5, 0.9), 0 1rem 5rem rgba($color-grey-5, 0.9);
        &-names {
            width: 100%;
            height: 100%;
            grid-row: 1;
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            &-arrow {
                width: 100%;
                padding: 2rem 5rem;
                font-size: 3rem;
                background: linear-gradient($color-primary 60%, $color-primary-dark 100%);
                font-family: $title-font;
                font-weight: 700;
                color: $color-grey-2;
                border-radius: 0 2rem 2rem 0;
                cursor: pointer;
                &-disabled {
                    transition: ease-in .25s;
                    &:hover {
                        // transform: scale(1.05);
                        color: $color-white;
                    }
                    color: $color-grey-0;
                    background: none;
                }
            }
        }
        &-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            min-height: 30rem;
            &-header {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 0.1rem solid #484848;
                i {
                    color: $color-grey-0;
                    font-size: 8rem !important;
                    padding: 1rem !important;
                }
            }
            p {
                padding: 2rem;
                width: 80%;
                font-size: 2rem;
            }
        }
    }
}

.competitions {
    background-color: $color-grey-3;
    // background: linear-gradient(0deg, rgba($color-grey-3, 1) 95%, rgba($color-grey-5, 0.88) 99%, rgba($color-grey-5, 1) 100%);
    width: 100%;
    padding: 6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        color: rgba($color-white, 0.6);
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .5rem;
        z-index: 4;
        margin-bottom: 2rem;
    }
    &-grid {
        height: auto;
        // height: 10rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content;
        row-gap: 4rem;
        column-gap: 4rem;
        &-tile {
            width: 100%;
            height: 100%;
            background-color: $color-grey-1;
            box-shadow: 0 0 2rem rgba($color-grey-2, 0.7); // background: linear-gradient(145deg, $color-grey-5, $color-grey-2);
            border-radius: 3rem;
            transition: ease-in 0.2s;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 25rem 1fr auto;
            &-img {
                display: flex;
                justify-self: center;
                align-self: center;
                height: 100%;
                width: 100%;
                padding: 3rem;
            }
            label {
                justify-self: center;
                align-self: flex-end;
                text-align: center;
                width: 80%;
                color: $color-grey-0;
                font-weight: 700;
                font-size: 3rem;
                font-family: $title-font;
                padding: 1rem;
                border-bottom: 0.1rem solid rgba($color-grey-0, 0.5);
            }
            button {
                &,
                &:link,
                &:visited {
                    margin: 2rem;
                    line-height: 1rem;
                    border-radius: 5rem;
                    box-shadow: 0 0.2rem 2rem rgba($color-primary, 0.5);
                    font-size: 2rem;
                    padding: 2rem;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;
                    border: none;
                    cursor: pointer;
                    transition: box-shadow ease-in 0.4s, transform ease-out 0.1s;
                    text-decoration: none;
                    font-family: $default-font;
                    background: linear-gradient($color-primary 60%, $color-primary-dark 100%);
                    &:hover {
                        box-shadow: 0 0.2rem 3rem rgba($color-primary, 0.7);
                    }
                }
                &:focus {
                    outline: none;
                    &:active {
                        transform: translateY(3px);
                    }
                }
            }
            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 1rem rgba($color-grey-2, 0.4);
            }
            &-container {
                border-radius: 4rem;
                padding: 4rem;
                background: $color-grey-3;
                box-shadow: -2rem 2rem 4rem $color-grey-2, 2rem -2rem 5rem $color-grey-4, inset 1rem -1rem 2rem $color-grey-4, inset -1rem 1rem 2rem $color-grey-2;
                height: auto;
            }
        }
    }
}

.location {
    position: relative;
    top: 0 !important;
    &-wave {
        width: 110% !important;
        position: absolute;
        transform: translateX(-10rem);
        top: 0 !important;
        z-index: 1;
        height: 100%;
        &-yellow {
            transform: translateX(-10rem);
            background: radial-gradient(ellipse farthest-side at 70% 80%, rgba(63, 94, 251, 0) 96%, rgba($color-primary, 0.8) 100%);
        }
        background: radial-gradient(ellipse farthest-side at 70% 80%, rgba(63, 94, 251, 0) 99%, $color-grey-3 100%);
    }
}
