<div class="container">
    <section class="paralax">
        <div class="paralax-name-container">
            <h1 class="paralax-name">
                ROBO<br>
                <span class="paralax-name-second">~motion 2021</span><br>
                <img src="../../assets/svg/klocki.svg" class="paralax-name-img">
            </h1>
        </div>
        <div class="paralax-wave paralax-wave-yellow"></div>
        <div class="paralax-wave"></div>
    </section>
    <section class="event-info">
        <h3 class="section-header">{{timeIsUp ? streamLink === undefined ? 'Event is ended' : 'Event is now live!' : 'Event starts in'}}</h3>
        <iframe [src]="streamLink" *ngIf="timeIsUp && streamLink !== undefined" width="1120" height="630" title="ROBO~motion Livestream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="event-info-counter" *ngIf="!timeIsUp">
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'd'}}
                </p>
                <p class="event-info-counter-part--name">
                    DAYS
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'h'}}
                </p>
                <p class="event-info-counter-part--name">
                    HOURS
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'm'}}
                </p>
                <p class="event-info-counter-part--name">
                    MINUTES
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 's'}}
                </p>
                <p class="event-info-counter-part--name">
                    SECONDS
                </p>
            </div>
        </div>
        <div class="event-info-details">
            <div class="event-info-details-name">
                <h1 class="paralax-name">
                    ROBO<span class="paralax-name-second event-info-details-name-a">~motion 2021</span>
                </h1>
                <h3 class="event-info-details-name-date">
                    <span class="event-info-details-name-date-big">21.11.2021</span> - Sports hall of the
                    <br> Rzeszów University of Technology
                </h3>
            </div>
            <div class="event-info-details-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat
                    velit. Sed sodales metus diam, tristique efficitur diam.
                </p>
            </div>
        </div>
    </section>
    <section class="event-program">
        <div class="event-program-grid">
            <div class="event-program-grid-names">
                <div *ngFor="let event of eventsList" (click)="onSwitchEvent(event.id)" class="event-program-grid-names-arrow" [ngClass]="{'event-program-grid-names-arrow-disabled': selectedEventIndex != event.id}">
                    {{event.name}}
                </div>
            </div>
            <div class="event-program-grid-description" [@switch]="switchAnimationStateName">
                <div class="event-program-grid-description-header">
                    <i class="las" [ngClass]=iconOfSelectedEvent()></i>
                </div>
                <p>
                    {{descriptionOfSelectedEvent()}}
                </p>
            </div>
        </div>
    </section>
    <section class="competitions">
        <h3 class="section-header">COMPETITIONS</h3>
        <div class="competitions-grid">
            <div class="competitions-grid-card-container" *ngFor="let category of categories">
                <div class="competitions-grid-card">
                    <div class="competitions-grid-card-style competitions-grid-card--front">
                        <img [src]="'../../assets/svg/' + category.icon" class="competitions-grid-card--front-img">
                        <label>{{category.name}}</label>
                        <button (click)="flipCard($event, 'back')">LEARN MORE</button>
                    </div>
                    <div class="competitions-grid-card-style competitions-grid-card--back">
                        <button (click)="flipCard($event, 'front')">X</button>
                        <p>{{category.description}}</p>
                        <span (click)="openUrl(category.linkToRegulation)">
                        Regulations
                        <i class="las la-file-alt"></i>                      </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="location paralax">
        <div class="location-wave location-wave-yellow"></div>
        <div class="location-wave"></div>
        <div class="location-grid">
            <img src="../../assets/svg/location.svg">
            <div class="location-grid-right">
                <h3 class="section-header">LOCATION</h3>
                <h2>
                    Sports hall of the <br>
                    <span>Rzeszów University of Technology</span><br> Poznańska 2a,<br> 35-959 Rzeszów
                </h2>
                <button (click)="openUrl('https://www.google.pl/maps/place/Pozna%C5%84ska+2a,+35-959+Rzesz%C3%B3w/@50.0183684,21.9778566,743m/data=!3m2!1e3!4b1!4m5!3m4!1s0x473cfbb694b5d4cf:0x92a58d80f703df60!8m2!3d50.018365!4d21.9800453')">Show on map
                  <i class="las la-map-marked-alt"></i>
                </button>
            </div>
        </div>

    </section>
    <section class="organizer">
        <div>
            <h3 class="section-header">ORGANIZER</h3>
            <span>Scientific Club of Automation and Robotics “ROBO”</span>
            <img src="../../assets/svg/robo_white.svg">
            <div class="organizer-social">
                <p class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p class="organizer-social-item organizer-social-item--ig"><i class="lab la-instagram"></i></p>
                <p class="organizer-social-item organizer-social-item--web"><i class="lab la-globe"></i></p>
            </div>
        </div>
    </section>
    <section class="patrons">

    </section>
</div>
