<div class="container">
    <section class="paralax">
        <div class="paralax-name-container">
            <p class="paralax-name">
                ROBO<br>
                <span class="paralax-name-second">~motion 2021</span><br>
                <img src="../../assets/svg/klocki.svg" class="paralax-name-img">
            </p>
        </div>
        <div class="paralax-wave paralax-wave-yellow"></div>
        <div class="paralax-wave"></div>
    </section>
    <section class="event-info">

    </section>
    <section class="event-program">

    </section>
    <section class="competitions">

    </section>
    <section class="location">

    </section>
    <section class="organiser">

    </section>
    <section class="patrons">

    </section>
</div>